  
  <%= form_tag(doctors_path, method: "post") do %>

    
   <div>
    <%= label_tag :name %> <br>
    <%= text_field_tag :'doctor[name]' %>
   </div>

   <div>
   <%= label_tag :email%><br>
    <%= text_field_tag :'doctor[email]' %>   
   </div>

   <div>
   <%= label_tag :contact_no%><br>
    <%= text_field_tag :'doctor[contact_no]' %>
   </div>

   <p>
   <%= submit_tag ("Create Doctor") %>
   </p>
   
<% end %>

#hii#



