<%= form_tag(@doctor.new_record? ? doctors_path : doctor_path(@doctor), method: @doctor.new_record? ? "post" : "put") do %>

  <div>
    <%= label_tag :name %> <br>
    <%= text_field_tag :'doctor[name]', @doctor.name %>
  </div>

  <div>
    <%= label_tag :email%><br>
    <%= text_field_tag :'doctor[email]', @doctor.email %>
  </div>

  <div>
    <%= label_tag :contact_no%><br>
    <%= text_field_tag :'doctor[contact_no]', @doctor.contact_no %>
  </div>

  <p>
    <%= submit_tag @doctor.new_record? ? "Create Doctor" : "Update Doctor" %>
  </p>

<% end %>