<%= render partial: 'header', locals: { doctor: @doctor } %>



<p><strong>patients:</strong></p>
<ul>
  <%= render @doctor.patients %>
</ul>

<%= render 'patients/form' %>
  
<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>

