
<p>
  <strong>name:</strong>
  <%= format_name(@doctor) %>
</p>
 
<p>
  <strong>email:</strong>
  <%= @doctor.email %>
</p>

<p>
  <strong>contact_no:</strong>
  <%= @doctor.contact_no %>
</p>
<p>
  <strong>gender:</strong>
  <%= @doctor.gender %>
</p>

<p><strong>Patients' Information</strong>
<ul>
  <% @patients.each do |patient| %>
    <li><%= patient.name %>  </li>
  <% end %>
</ul>
</p>



  
<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>

